{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Reset your password {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- Page content -->
<div class="container mt--9 pb-5">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
                <!-- <div class="card-header bg-transparent pb-5"> -->
                <div class="card-header bg-transparent">
                    <div class="text-muted text-center ">
                        <h4>Email Sent</h4>
                    </div>
                </div>
                <div class="card-body px-lg-5 py-lg-3">
                    <div class="text-center text-muted mb-4">

                        {% if msg %}
                        {{ msg }}
                        {% else %}

                        <p>We've emailed you the password reset link.</p>
                        <div><small>If you don't receive an email, please make sure you've entered the
                                correct email you registered with.</small></div>
                        {% endif %}

                    </div>

                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <a href="{% url 'register' %}" class="text-light"><small>Register</small></a>
                </div>
                <div class="col-6 text-right">
                    <a href="#" class="text-light"><small>Get Support</small></a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}