{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Reset your password {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- Page content -->
<div class="container mt--9 pb-5">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
                <!-- <div class="card-header bg-transparent pb-5"> -->
                <div class="card-header bg-transparent">
                    <div class="text-muted text-center ">
                        Password Reset
                    </div>
                </div>
                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">

                        {% if msg %}
                        {{ msg }}
                        {% else %}
                        <p>Enter your e-mail address to send verification link.</p>
                        {% endif %}
                        
                    </div>

                    <form action="." method="post">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                </div>
                                <input type="email" name="email" class="form-control" autocomplete="email"
                                    maxlength="254" required="" id="id_email" placeholder="Enter Email">
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary-color text-white my-4">Send Email</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <a href="{% url 'register' %}" class="text-light"><small>Register</small></a>
                </div>
                <div class="col-6 text-right">
                    <a href="#" class="text-light"><small>Get Support</small></a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}