{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Reset your password {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- Page content -->
<div class="container mt--9 pb-5">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
                <!-- <div class="card-header bg-transparent pb-5"> -->
                <div class="card-header bg-transparent">
                    <div class="text-muted text-center ">
                        Reset your password
                    </div>
                </div>
                <div class="card-body px-lg-5 py-lg-5">
                    {% if validlink %}

                    <div class="text-center text-muted mb-4">
                        {% if msg %}
                        <p>{{ msg }}</p>
                        {% else %}
                        <p>
                            Enter your new password
                        </p>
                        {% endif %}
                    </div>

                    <form action="." method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                </div>
                                <input type="password" class="form-control" name="new_password1"
                                    autocomplete="new-password" required="" id="id_new_password1"
                                    placeholder="Enter New Password">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                </div>
                                <input type="password" class="form-control" name="new_password2"
                                    autocomplete="new-password" required="" id="id_new_password2"
                                    placeholder="Confirm New Password">
                            </div>
                            <div class="helptext ml-2 mt-1" id="helptext1"></div>
                            <div class="helptext ml-2" id="helptext2"></div>
                        </div>
                        <div class="text-center">
                            <button type="submit" id="password-submit"
                                class="btn btn-primary-color text-white my-4">Submit</button>
                        </div>
                    </form>
                    {% else %}
                    <p>The password reset link was invalid, possibly because it has
                        already been used. Please request a new password reset.</p>
                    {% endif %}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <a href="{% url 'register' %}" class="text-light"><small>Register</small></a>
                </div>
                <div class="col-6 text-right">
                    <a href="#" class="text-light"><small>Get Support</small></a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script>

    const pass1 = document.getElementById("id_new_password1")
    const pass2 = document.getElementById("id_new_password2")
    const helptext1 = document.getElementById("helptext1")
    const helptext2 = document.getElementById("helptext2")
    const passSubmit = document.getElementById("password-submit")
    passSubmit.disabled = true
    passSubmit.style.opacity = (0.4);

    if (pass1 === '' && pass2 === '') {
        helptext2.innerText = '';
    }

    // pass1.onblur = function () {
    //     helptext1.innerHTML = "";
    // }

    function minimum_letters_pass() {
        helptext1.innerHTML = "&check; minimum of 8 letters";
        helptext1.classList.remove("text-danger");
        helptext1.classList.add("text-success");
    }

    function minimum_letters_fail() {
        helptext1.classList.add("text-danger");
        helptext1.innerHTML = "&#10006; minimum of 8 letters";
    }

    function password_pass() {
        helptext2.innerHTML = "&check; passwords are same";
        helptext2.classList.remove("text-danger");
        helptext2.classList.add("text-success");
        passSubmit.disabled = false
        passSubmit.style.opacity = (1);
    }

    function password_fail() {
        helptext2.classList.add("text-danger");
        helptext2.innerHTML = "&#10006; passwords are different";
        passSubmit.disabled = true
        passSubmit.style.opacity = (0.4);
    }

    pass1.onkeyup = function () {
        if (pass1.value.length >= 8) { minimum_letters_pass(); }
        else { minimum_letters_fail(); }

        if (pass2.value === pass1.value) {
            if (pass1.value.length >= 8 && pass2.value.length >= 8) {
                password_pass();
            }
        } else {
            password_fail();
        }
    }

    // pass2.onblur = function () {
    //     helptext2.innerHTML = "";
    // }

    pass2.onkeyup = function () {
        if (pass2.value === pass1.value) {
            if (pass1.value.length >= 8 && pass2.value.length >= 8) {
                password_pass();
            }
        } else {
            password_fail();
        }
    }

</script>
{% endblock javascripts %}